<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/navbar::head"></head>
<body class="overflow-hidden container-pedidos">
<header th:replace="layout/navbar::header"></header>
<main class="row d-flex justify-content-center">
    <article class="col-md-9 ms-md-auto">
        <section class="parent">
            <div th:each="producto:${productos}">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="card-img-actions">
                            <img class="card-img img-fluid" th:src="@{/img/cat_large.png}"
                                 alt="Card image cap"/>
                        </div>
                        <h5 class="card-title" th:text="${producto.nombre}"></h5>
                        <div class="items-catalog text-center">
                            <div class="card-text" th:text="${producto.categoria.nombre}"></div>
                            <div class="card-text" th:text="${'$' + #numbers.formatDecimal(producto.precio, 0, 'POINT', 0, 'COMMA')}"></div>
                        </div>
                        <form class="input-group mb-3" th:action="@{/pedido/agregar}" th:object="${pedido}" method="post">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="btn btn-outline-danger" type="button" id="button-addon1">-</button>
                            <input type="hidden" th:field="*{precio}"/>
                            <input min="0" name="quantity"  type="number" class="form-control text-center" placeholder="Cantidad" disabled>
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"  class="btn btn-outline-primary" type="button"  value="mas" id="button-addon2">+</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </article>
    <aside class="col-md-3 table-price">
        <form class="input-group" th:action="@{/registro/producto}">
            <ul class="dropdown row">
                <figure class="text-center">
                    <img class="logo" th:src="@{/img/logo_MrJiro.jpeg}" alt="logo"/>
                </figure>
                <ul>
                    <li class="form-floating mb-3">
                        <select name="Tipo documento" id="floatingSelectId" class="form-select form-select">
                            <option value="CC">Cedula</option>
                            <option value="NIT">NIT</option>
                            <option value="CE">Cedula Extranjeria</option>
                        </select>
                        <label for="floatingSelectId">Tipo identificaci&oacute;n</label>
                    </li>
                    <li class="form-floating mb-3">
                        <input class="form-control" type="text" id="floatingInputIdCli" name="identificacion"
                               placeholder="Identificacion"
                               required/>
                        <label for="floatingInputIdCli">Identificacion cliente</label>
                    </li>
                    <li class="form-floating mb-3">
                        <input class="form-control" type="text" id="floatingInputNombre" placeholder="Nombre"/>
                        <label for="floatingInputNombre">Nombre Cliente</label>
                    </li>
                    <li class="form-floating mb-3">
                        <input class="form-control" type="text" id="floatingInputObs" placeholder="Breve descripcion"/>
                        <label for="floatingInputObs">Observaciones</label>
                    </li>
                    <li class="form-floating mb-3">
                        <input class="form-control" type="text" id="floatingInputDir" placeholder="Direccion envio"/>
                        <label for="floatingInputDir">Dirección</label>
                    </li>                    
                    <li>
                    <table class="table table-dark table-striped table-responsive">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Prod</th>
					      <th scope="col">Cant</th>
					      <th scope="col">Precio</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Empanadas de carne</td>
					      <td>10</td>
					      <td>$15.000</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Papa Aborrajada</td>
					      <td>5</td>
					      <td>$5.000</td>
					    </tr>
					    <tr>
					      <th scope="row">1</th>
					      <td>Empanadas de carne</td>
					      <td>10</td>
					      <td>$15.000</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Papa Aborrajada</td>
					      <td>5</td>
					      <td>$5.000</td>
					    </tr>
					    <tr>
					      <th scope="row">1</th>
					      <td>Empanadas de carne</td>
					      <td>10</td>
					      <td>$15.000</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Papa Aborrajada</td>
					      <td>5</td>
					      <td>$5.000</td>
					    </tr>
					  </tbody>
					  <tfoot>
					  <tr class="table-light">
					      <td></td>
					      <td></td>
					      <td>Total</td>
					      <td>$500.000</td>
					      <td>
  					  </tfoot>
					</table>
                    </li>
                    
                    <li class="input-group">
                        <input class="form-control mb-3 btn btn-primary" type="submit" value="Crear"/>
                        <input class="form-control mb-3 btn btn-danger" type="submit" value="Cancelar"/>
                    </li>
                </ul>
            </ul>
        </form>
    </aside>
</main>
<footer>Gracias por la visita</footer>
</body>

</html>